body {
    font-family: 'Varela';    
    background-color: lightgrey !important;
}

.parent_div {
    background-color: whitesmoke;
    min-height: 100vh;
    padding-top: 5%;
    height: 100%;
}

.main_div  {
    align-content: center;
}

.grade_color_box {   

    color: #293845;
    font-size: 1.8em;
    font-weight: bold;
    background-color: #90bcb3;
    border-color: #207868;
    border-radius: 0px;
    padding: .45rem .65rem;
    max-width: 250px;
}

.center {
    text-align: center;
}

.rating {
    color: #293845;
    font-size: 1.00em;
    font-weight: 500;    
    font-style: italic;
}

.title {
    font-size: 1.75em;
    font-weight: bold;
    color: #293845;    
}

.table_movie_dataset {
    border: 2px solid #dee2e6;
}

.list_link {

    color: black;

}

.carousel_picture{

    width: 60%;
    height:240px;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;

}

.carousel_slide{

    width: auto;
    height:240px;
    margin-left: auto;
    margin-right: auto;

}

.poster_size{

    width: 40% !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.synopsis {

    font-size: 1.1em;
    color: #293845; 

}

thead,
tfoot {
    background-color: rgba(9, 53, 77, 0.803);
    color: #fff;
}

tbody {
    background-color: whitesmoke;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    margin-top: 35px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: left;
}

caption{

    text-align: center;

}

.poster_score {

    background-color: aqua;

}

.home_title {

    text-align: center;

}

.chartjs{

    

}