body {
    font-family: SourceSansPro,sans-serif;
    background-color: white !important;
    -webkit-font-smoothing: antialiased;
}

.parent_div {
    background-color: white;
    min-height: 100vh;
    height: 100%;
    padding: 0%;
}

.main_div  {
    align-content: center;
}

.grade_color_box {   

    color: #293845;
    font-size: 2.0em;
    font-weight: bold;
    background-color: #90bcb3;
    border-color: #207868;
    border-radius: 0px;
    padding: .45rem .65rem;
    /* max-width: 170px; */
    margin-top: 10px;
    font-family: "Varela";
}

.center {
    text-align: center;
}

.rating {
    color: #293845;
    font-size: 1.00em;
    font-weight: 500;    
    font-style: italic;
}

.title {
    font-size: 1.54em;
    font-weight: bold;
    color: #293845;    
    font-family: "Varela";
}

.table_movie_dataset {
    border: 2px solid #dee2e6;
}

.list_link {

    color: black;

}
.poster_size{

    width: 40% !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.synopsis {

    font-size: 1.1em;
    color: #293845; 
    /* white-space: nowrap;
    overflow: hidden; */
    /* text-overflow: ellipsis; */

}

thead,
tfoot {
    background-color: whitesmoke;
    color: black;
}

tbody {
    background-color: white;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    margin-top: 35px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(200, 200, 200);
    padding: 5px 10px;
}

td {
    text-align: left;
}

caption{

    text-align: center;

}

.poster_score {

    background-color: aqua;

}

.home_title {

    text-align: center;

}

.chartjs{

    

}

.score_meaning {

    margin-top: 100px;

}

.ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
    width: calc(100% - 1rem) !important;
    height: 50px;
    background-color: #fff;
    margin-top: 0rem !important;
}

.hit-name {

    color: black;
}


a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {
	margin: 10px;
}

#nav_bar .active {
    color:            white;
    background-color: #4f81bd;
}

.red {
    background-color:red;
    border-color: red;
}
.orange {
    background-color: rgba(240, 195, 15, 0.728);
    border-color: #987220;
}
.green {
    background-color: #90bcb3;
    border-color: #207868;
}

.trending_labels {

    font-family: 'Varela';  

}

.sim_posters {
    border: 2px solid black;
  }

.imdb_color_box {   

    color: #293845;
    font-size: 1.5em;
    font-weight: lighter;
    background-color: rgba(245, 223, 80, 0.913);
    border-color: rgb(218, 189, 3);
    border-radius: 0px;
    padding: .45rem .65rem;
    max-width: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Varela";
}



.imdb_text {

    font-size: .38em;
    text-align: center;

}

.rotten_color_box {   

    color: #293845;
    font-size: 1.5em;
    font-weight: lighter;
    background-color: rgba(102, 204, 51, 0.824);
    border-color: rgb(1, 177, 7);
    border-radius: 0px;
    padding: .45rem .65rem;
    max-width: 250px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: "Varela";
}

.imdb_score_text {

    color: black;
    text-align: center;
}

.index_table {

    width: 500px;

}

.home_gutter {

width: 100% !important;

}

.jumbotron {

    color: black;
    background-color: white;
    height: 400px;
    /* background-image: url("https://wallpaperaccess.com/full/2117032.jpg"); */
    background-size: cover;
    padding-top: 0px;

}

.jumbo_button {

    fill: white;
    border-width: 10px;
    border: #4f81bd;
}

.index_divider {

    stroke: #9EADBA;
    stroke-width: 2.5px;

}

.bb_nav {

    padding-bottom: 1em;
    padding-top: .75em;
    font-size: larger   ;
    color: black;
}

.index_button {

    padding-top: 1.75rem;

}

.flex-grid {
  display: flex;
  margin: 0px;
}
.flex-grid .first-col {
  display: flex;
  justify-content: top;
  margin: 20px 20px 20px 0px;
  flex-direction: column;

}

.flex-grid .second-col {
    display: flex;
    border: solid 2px #cddeed;
    border-radius: 4px;
    justify-content: center;
    padding: 1em;
    margin: 20px 20px 20px 0px;
    flex-direction: column;
  }

  .flex-grid .first-col-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .flex-grid .second-col-inner {
      display: flex;
      justify-content: center;
      padding: 1em 1em;
      margin-left: 1.25em;
      flex-direction: column;
    }

.index_title {

font-style: italic;

}

.index_header {

    font-size: xxx-large;
    font-weight: bold;


}

.index_logos {

    font-size: 46px;
    color: grey;

}

.font_label {

    font-weight: bold;

}

.index_logo_border_right {
    border-right: 3px solid #cddeed;
}

.row_border_bottom {
    border-bottom: 3px solid #cddeed;
    margin-left: 18%;
    margin-right: 18%;
}


.bb_nav_item {

    padding-left: 3rem ;
    color: black !important;

}

.lower_fold {

    background-color: #D6F3FE;
    margin: 0%;
    height: 20rem;

}

.main_div {

    padding-left: 5rem;
    padding-right: 5rem;

}