<!DOCTYPE html>
<html lang="en">
<head>

  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="index.html">Bracket Box</a>
            
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="movie_list.html"> All Movies</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Charts</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Best and Worsts</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="about_us.html">About us</a>
                </li>
            </ul>
            </nav>
    
    
    <div class="jumbotron text-center">
            <h1>About Us</h1>
            <p>Read about who I am and what I do</p> 
            </div>
    
    &nbsp;&nbsp; 
 <div class="container" >
    <p class="text-justify">
        My name is Armaan Dave and I am a student in the greater Seattle area. I love watching movies and I also love tracking how well certain movies are doing at the box office. So, I have created a place where you can view all the box office information you could possibly want. Along with this, I have created a custom scores that takes into account all the different factors of a movie (the budget, the gross, movies it was competing against, actors, etc) to create a custom score that indicates the total quality of that movie
    </p>
</div>    

</body>