<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167281977-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167281977-1');
    </script>
    <title>BracketBox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://kit.fontawesome.com/fe6d6e0194.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
      filename='css/style.css') }}">
</head>

<body>
    <div class="container-fluid parent_div">
        <div class="main_div mb-5">
            <nav class="navbar navbar-expand-sm navbar-light d-flex justify-content-left bb_nav">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img width="70" height="70" class="d-inline-block" src="{{ url_for('static',
                            filename='img/isolated-monochrome-black.svg') }}" alt="">
                    Bracket Box
                </a>
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item bb_nav_item">
                        <a class="nav-link bb_nav_item" href="/movie_list"> All Movies</a>
                    </li>
                    <li class="nav-item bb_nav_item">
                        <a class="nav-link bb_nav_item" href="/trending">Trending</a>
                    </li>
                    <li class="nav-item bb_nav_item">
                        <a class="nav-link bb_nav_item" href="/charts">Charts</a>
                    </li>
                    <li class="nav-item bb_nav_item">
                        <a class="nav-link bb_nav_item" href="/about_us">About us</a>
                    </li>
                </ul>
            </nav>
            <div class="main_div mb-5">
                <h4>All Time Worldwide</h4>
                <table class="table mt-1">
                    <thead>
                        <tr>
                            <th scope="col" class="w-10">Rank</th>
                            <th scope="col">Movie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for y in range(0,200)%}
                        <tr>
                            <th scope="row" class="w-10">{{y+1}}</th>
                            <td><a class="charts_list_item"
                                    href="/movie_page/{{worldwide_dict['movie_name'][y]}}^{{worldwide_dict['movie_year'][y]}}">{{worldwide_dict["movie_name"][y]}}
                                    ({{worldwide_dict["movie_year"][y]}}) - ${{worldwide_dict["movie_w_box"][y]}} </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</body>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>

</html>