<!DOCTYPE html>
<html lang="en">

<head>

  <title>{{movie_data["movie_title"]}} ({{movie_data["movie_year"]}})</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
      filename='css/style.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex
      justify-content-center">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="{{ url_for('index') }}">Bracket Box</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/movie_list"> All Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Charts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Best and Worsts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid parent_div w-75">


    <div class="container">

      <div class="d-flex row col-12">
        <div class="col-3 d-flex">
          <img src={{movie_data['movie_poster']}} id="movie_poster" class="float-left"
            alt="{{movie_data[" movie_title" ]}}" width="222px" height="333px">
        </div>

        <div class="col-9">
          <div class="d-flex flex-row col-12">
            <div class="alert grade_color_box col-3 center">
              {{movie_data["movie_score"]}}
            </div>
            <div class="col-3 mt-1 rating">
              <span>Rated {{movie_data["movie_mpaa_rating"]}}</span><br />
              <span>{{movie_data["movie_genre"]}}</span><br />
              <span>{{movie_data["movie_runtime"]}} minutes</span>
            </div>
            <div class="col-6 pr-0 d-flex justify-content-end mt-1 title">{{movie_data["movie_title"]}}
              ({{movie_data["movie_year"]}})</div>
          </div>

          <div class="col-12 d-flex justify-content-end align-items-start
                  pl-3">
            <table class="table table-bordered table_movie_dataset mt-2">
              <tbody>
                <tr>
                  <th scope="row">Opening Weekend:</th>
                  <td colspan="2">${{movie_data["movie_opening_weekend"]}}</td>
                </tr>
                <tr>
                  <th scope="row">Domestic Gross:</th>
                  <td>${{movie_data["movie_domestic_gross"]}}</td>
                </tr>
                <tr>
                  <th scope="row">International Gross:</th>
                  <td colspan="2">${{movie_data["movie_international_gross"]}}</td>
                </tr>
                <tr>
                  <th scope="row">Worldwide Gross:</th>
                  <td>${{movie_data["movie_worldwide_gross"]}}</td>
                </tr>
                <tr>
                  <th scope="row">Budget:</th>
                  <td colspan="2">${{movie_data["movie_budget"]}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>

      </div>
      <div class="d-flex row col-12 mt-5">
        <div class="col-auto synopsis">{{movie_data["movie_synopsis"]}}</div>
      </div>
      <div class="d-flex row col-12">
        <div class="col-6 mt-5">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>



      </div>

    </div>
</body>
<script>
  var genre_bb = {{ movie_data["genre_bb"] }};
  var movie_bb = {{ movie_data["movie_score"] }};
  var movie_bb_arr = [];
  var genre_bb_arr = [];
  var bb_avg_years = {{ values| tojson}};
  for (var i = 0; i < bb_avg_years.length; i++) {
    genre_bb_arr.push(genre_bb);
    movie_bb_arr.push(movie_bb);
  }
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ labels| tojson}},

  datasets: [
    {
      label: 'Yearly Average',
      type: 'bar',
      data: bb_avg_years,
      backgroundColor: [
        'rgba(255, 99, 132, 0.9)',
        'rgba(255, 99, 132, 0.9)',
        'rgba(255, 99, 132, 0.9)',
        'rgba(255, 99, 132, 0.9)',
        'rgba(255, 99, 132, 0.9)',
        'rgba(255, 99, 132, 0.9)',
        'rgba(255, 99, 132, 0.9)',
        'rgba(255, 99, 132, 0.9)',
      ],

      borderColor: [
        'rgba(255, 99, 132, 0.9)'
      ],
    },
    {
      label: 'Genre Average',
      type: 'line',
      fill: false,
      data: genre_bb_arr,

      pointRadius: 0,

      backgroundColor: [
        'rgba(111, 45, 168, 0.9)'
      ],

      borderColor: [
        'rgba(111, 45, 168, 0.9)'
      ],
    },
    {
      label: 'Current Movie',
      type: 'line',
      fill: false,
      data: movie_bb_arr,

      pointRadius: 0,

      backgroundColor: [
        'rgba(10, 10, 170, 0.9)',
      ],

      borderColor: [
        'rgba(10, 10, 170, 0.9)'
      ],
    }
  ],
      },

  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
  });
</script>

</html>